h2 MEAN Cervejaria

h3 Cerveja consultada
  p
    | name: {{ cerveja.name }}
    br
    | alcohol: {{ cerveja.alcohol }}
    br
    | category: {{ cerveja.category }}
    br
    | description: {{ cerveja.description }}
    br


