h2 MEAN Cervejaria

p
  strong=msg

h3 Cerveja consultada
  p
    | name: {{ cerveja.name }}
    br
    | alcohol: {{ cerveja.alcohol }}
    br
    | category: {{ cerveja.category }}
    br
    | description: {{ cerveja.description }}
    br

button(data-ng-click='deletar(cerveja)') DELETAR


